.header-cont {
    height: 10vh;
    width: 100%;
    background-color: #a39171;
    position: absolute;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
}
